*.bak
*.kicad_pcb-bak
*.sch-bak
.DS_Store

# include the zips of the gerbers directorys but not the gerber files.  They will all
# be generated and change at the same time, so there is no point in tracking individual files.
!*-gerbers.zip
*-gerbers/
*-backups/
_autosave-*.sch

# exclude local working directories
scratch/
archive/

# exclude soft link to images that helps the editor preview
/assets
